* {
  margin: 0;
  padding: 0; /* Added padding reset */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: burlywood;
  border-radius: 4px;
}

/* Media query for adjusting scrollbar width on smaller screens */
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
}
